#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  position: absolute;
  top: clamp(200px, 20% + 100px, 350px);
  transform: translate(-50%, 0%);
  left: 50%;
}

h3 {
  position: absolute;
  top: clamp(280px, calc(20% + 180px), 430px);
  transform: translate(-50%, 0%);
  left: 50%;

  font-size: 1.4em;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

p {
  position: absolute;
  transform: translate(-50%, 0%);
  top: 400%;
  padding-bottom: 50px;
}

.image {
  width: 800px;
  opacity: 0.5;

  position: absolute;
  top: clamp(-600px, calc(5% - 600px), -200px);
  right: calc(10% - 450px);

  z-index: -1;
}
.image.overlay {
  width: 810px;
  opacity: 1;

  top: clamp(-601px, calc(5% - 601.6px), -201px);
  right: calc(10% - 456px);
}

@keyframes image-spin {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(450deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .image:first-of-type {
    animation: image-spin infinite 60s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (prefers-color-scheme: light) {
  .bg {
    color: #213547;
    background-color: #ffffff;
  }
}